@media (max-width: 1299px) {

    section#aboutSection{
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: center;
        margin-bottom: 120px;
    }

    section#aboutSection div{
        max-width: 500px;
    }

    section#aboutSection h1{
        text-align: start;
    }

    section#aboutSection img{
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 60%;
    }
    
    section#languagesSection h2{
        font-size: 1em;
        margin-top: 5px;
        text-align: start;
    }

    section#languagesSection div.col{
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid var(--color1);
        border-radius: 10px;
        margin: 0 5px;
        min-width: 300px;
    }

    section#languagesSection .languages{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 30px;
    }

    section#languagesSection p{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid var(--color1);
        border-radius: 15px;
        margin: 5px;
        min-width: 50px;
        padding: 2px;
        text-align: center;
    }
}

@media (min-width: 1300px) and (max-width: 1799px) {

    section#aboutSection{
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: center;
        margin-bottom: 120px;
    }

    section#aboutSection div{
        max-width: 500px;
        margin: 0 40px;
    }

    section#aboutSection h1{
        font-size: 3em;
        text-align: start;
    }

    section#aboutSection img{
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 70%;
    }
    
    section#languagesSection h2{
        font-size: 1em;
        margin-top: 5px;
        text-align: start;
    }

    section#languagesSection div.col{
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid var(--color1);
        border-radius: 10px;
        margin: 5px;
    }

    section#languagesSection .languages{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 30px;
    }

    section#languagesSection p{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid var(--color1);
        border-radius: 15px;
        margin: 5px;
        min-width: 50px;
        padding: 2px;
        text-align: center;
    }
}

@media (min-width: 1800px) {
    
    section#aboutSection{
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: center;
        margin-bottom: 120px;
    }

    section#aboutSection div{
        max-width: 700px;
        margin: 0 40px;
    }

    section#aboutSection h1{
        font-size: 4em;
        text-align: start;
    }

    section#aboutSection img{
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 70%;
    }
    
    section#languagesSection h1{
        font-size: 3em;
    }

    section#languagesSection h2{
        font-size: 2em;
        margin-top: 5px;
        text-align: start;
    }

    section#languagesSection div.col{
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid var(--color1);
        border-radius: 10px;
        margin: 5px;
    }

    section#languagesSection .languages{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 30px;
    }

    section#languagesSection p{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid var(--color1);
        border-radius: 15px;
        margin: 5px;
        min-width: 50px;
        padding: 2px;
        text-align: center;
    }
}