@media (max-width: 1299px) {

    section#login{
        border: 1px solid var(--color1);
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        margin: 50px auto;
        width: 60vw;
    }

     section#login form{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 15px;
        width: 60%;
    }

    form input{
        background-color: transparent;
        border: 1px solid var(--color5);
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
    }

    section#login input[type="submit"]{
            width: 100px;
            padding: 10px;
        }

        section#login h1{
            font-size: 3em;
        }

        section#login div{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin: 30px 10px;
            width: 100%;
        }

        section#login div a{
            border: 1px solid var(--color5);
            width: 100px;
            padding: 5px;
            text-decoration: none;
            color: var(--color5);
            text-align: center;
        }

        main a svg {
            width: 25px;
        }

}

@media (min-width: 1300px) and (max-width: 1799px) {
    
    section#login{
        border: 1px solid var(--color1);
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        margin: 50px auto;
        width: 60vw;
    }

    section#login form{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 15px;
        width: 50%;
    }

    form input{
        background-color: transparent;
        border: 1px solid var(--color5);
        border-radius: 5px;
        font-size: 1.2em;
        padding: 5px 10px;
        width: 100%;
        height: 60px;
    }

    section#login input[type="submit"]{
        width: 150px;
        height: 50px;
        transition: .3s;
    }

    section#login input[type="submit"]:hover{
        transform: translateY(-2px);
    }

    section#login h1{
        font-size: 4em;
    }

    section#login div{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 30px 10px;
        width: 100%;
    }

    section#login div a{
        border: 1px solid var(--color5);
        width: 100px;
        font-size: 1.2em;
        padding: 5px;
        text-decoration: none;
        text-align: center;
        color: var(--color5);
        transition: .3s;  
    }

    section#login div a:hover{
        transform: translateY(-2px);
    }

    main a svg {
        width: 30px;
        color: var(--color5);
    }

}

@media (min-width: 1800px) {
    
    section#login{
        border: 1px solid var(--color1);
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        margin: 50px auto;
        width: 60vw;
    }

    section#login form{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 15px;
        width: 50%;
    }

    form input{
        background-color: transparent;
        border: 1px solid var(--color5);
        border-radius: 5px;
        font-size: 1.5em;
        padding: 5px 10px;
        width: 100%;
        height: 60px;
    }

    section#login input[type="submit"]{
        width: 200px;
        height: 70px;
        transition: .3s;
    }

    section#login input[type="submit"]:hover{
        transform: translateY(-2px);
    }

    section#login h1{
        font-size: 6em;
    }

    section#login div{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 30px 10px;
        width: 100%;
    }

    section#login div a{
        border: 1px solid var(--color5);
        width: 120px;
        font-size: 1.5em;
        padding: 5px;
        text-decoration: none;
        text-align: center;
        color: var(--color5);
        transition: .3s;  
    }

    section#login div a:hover{
        transform: translateY(-2px);
    }

    main a svg {
        width: 40px;
        color: var(--color5);
    }

}