@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --color1: #61568C;
    --color2: #475459;
    --color3: #818B8C;
    --color4: #070A0D;
    --color5: #F2F2F2;

    color-scheme: dark;
    forced-color-adjust: none;
}


body {
    background: var(--color4) url("../img/visual/BackgroundImg.jpg") repeat top center;
    background-size: contain;
    color: var(--color5);
    font-family: "Inter", sans-serif;
}


h1, h2, h3, option {
    font-family: "JetBrains Mono", monospace;
}


.hiddenScroll {
    opacity: 0;
}


.intro1 {
    animation: intro1 2s forwards;
}


.intro2 {
    animation: intro2 1s forwards;
}


.typing {
    animation: typing 1.5s steps(7) forwards;
}

@keyframes intro1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes intro2 {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes typing {
    0% {
        border-right: 3px solid var(--color1);
        width: 0;
    }

    80% {
        border-right: 3px solid var(--color1);
        width: 7ch;
    }

    100% {
        border-right: transparent;
        width: 7ch;
    }
}


@media (max-width: 1299px) {

    p {
        color: var(--color3);
        line-height: 25px;
        max-width: 500px;
        padding: 0 10px;
        text-align: justify;
    }


    header {
        display: flex;
        justify-content: center;
    }

    header nav {
        align-items: center;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid var(--color1);
        border-radius: 0 0 10px 10px;
        border-top: 0;
        display: flex;
        justify-content: space-between;
        min-width: 80vw;
        padding: 10px 15px;
        position: fixed;
        z-index: 1;
    }

    header nav a {
        color: var(--color5);
        margin: 0 15px;
        text-decoration: none;
        text-shadow: 1px 1px 1px var(--color4);
    }

    header nav svg {
        width: 40px;
    }

    header nav a#homeSvg{
        display: none;
    }

    main section {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 70px 10px 10px;
    }
    
    .language-container {
        margin-top: 100px;
        text-align: center;
    }

    .language-container #language-toggle {
        background-color: transparent;
        border: 1px solid var(--color1);
        border-radius: 5px;
        color: var(--color5);
        padding: 5px;
        width: 70px;
    }

    footer{
        align-items: center;
        background-color: var(--color4);
        display: flex;
        flex-flow: row wrap;
        min-height: 100px;
        justify-content: space-between;
        padding: 10px;
    }

    footer div{
        min-width: 300px;
        text-align: right;
    }

    footer img{
        filter: invert(1);
        margin: 0 10px;
        width: 50px;
    }

    /* ______________________________ */

        section#login{
            border: 1px solid var(--color1);
        }

}

@media (min-width: 1300px) and (max-width: 1799px) {
    
    p {
        color: var(--color3);
        font-size: 1.1em;
        line-height: 25px;
        max-width: 600px;
        padding: 0 10px;
        text-align: justify;
    }

    header {
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid var(--color1);
    }

    header nav {
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1400px;
    }

    header nav a {
        align-self: center;
        color: var(--color5);
        font-size: 1.2em;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px 1px var(--color4);
        transition: 0.3s;
        width: 100px;
    }

    header nav a:hover {
        transform: translateY(-2px);
    }

    header nav svg {
        width: 50px;
    }

    header nav a[data-i18n="homeA"] {
        display: none;
    }

    header nav a#login {
        order: 5;
    }

    main section {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 70px 0 50px 0;
    }
    
    .language-container {
        text-align: center;
    }

    .language-container #language-toggle {
        background-color: transparent;
        border: 1px solid var(--color1);
        border-radius: 5px;
        color: var(--color5);
        margin-top: 50px;
        padding: 5px;
        width: 70px;
    }

    footer{
        align-items: center;
        background-color: var(--color4);
        display: flex;
        flex-flow: row nowrap;
        min-height: 100px;
        justify-content: space-between;
        padding: 10px;
    }

    footer img{
        filter: invert(1);
        margin: 0 10px;
        width: 50px;
        transition: .3s;
    }

    footer img:hover{
        transform: translateY(-2px);
    }

}

@media (min-width: 1800px) {

    p {
        color: var(--color3);
        font-size: 1.5em;
        line-height: 30px;
        max-width: 700px;
        padding: 0 10px;
        text-align: justify;
    }


    header {
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid var(--color1);
    }

    header nav {
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1400px;
    }

    header nav a {
        align-self: center;
        color: var(--color5);
        font-size: 1.6em;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px 1px var(--color4);
        transition: 0.3s;
        width: 100px;
    }

    header nav a:hover {
        transform: translateY(-2px);
    }

    header nav svg {
        width: 60px;
    }

    header nav a[data-i18n="homeA"] {
        display: none;
    }

    header nav a#login {
        order: 5;
    }

    main section {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 100px 10px 10px;
    }
    
    .language-container {
        text-align: center;
    }

    .language-container #language-toggle {
        background-color: transparent;
        border: 1px solid var(--color1);
        border-radius: 5px;
        color: var(--color5);
        font-size: 1.3em;
        margin-top: 100px;
        padding: 10px;
        width: 100px;
    }

    footer{
        align-items: center;
        background-color: var(--color4);
        display: flex;
        flex-flow: row nowrap;
        min-height: 100px;
        justify-content: space-between;
        padding: 10px;
    }

    footer img{
        filter: invert(1);
        margin: 0 10px;
        width: 70px;
        transition: .3s;
    }

    footer img:hover{
        transform: translateY(-2px);
    }

}