@media (max-width: 1299px) {

    section#alGbra #linkalGbra {
        align-items: center;
        color: var(--color1);
        display: flex;
        gap: 3px;
        font-size: .7em;
        margin: 70px 0 10px;
        text-decoration: none;
    }

    section#alGbra #linkalGbra svg {
        width: 10px;
    }

    section#alGbra h1 {
        font-size: 5em;
        margin-bottom: 30px;
        overflow: hidden;
        white-space: nowrap;
    }

    section#alGbra div {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 200px 0;
    }

    section#alGbra div a {
        background-color: var(--color1);
        border-radius: 10px;
        color: var(--color5);
        margin-top: 20px;
        padding: 10px 70px;
    }

    section#alGbra div a svg {
        width: 30px;
    }

    section#alGbra div h2 {
        border-bottom: 1px solid var(--color1);
        font-size: 1.7em;
    }

    /* --- Seção Math --- */

    section#math h1 {
        border-left: 1px solid var(--color1);
        border-right: 1px solid var(--color1);
        font-size: 2.4em;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    section#math h2 {
        margin: 5px 0;
    }

    section#math .subject-card {
        margin-bottom: 15px;
        max-width: 2000px;
        width: 80vw;
    }

    /* --- CONTENT (ACORDEÃO) --- */

    section#math .subject-card .content {
        border: 1px solid transparent;
        border-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:
            border-color 0.4s ease,
            max-height 0.4s ease,
            opacity 0.3s ease;
        visibility: hidden;
        width: 99%;
    }

    section#math .subject-card.active .content {
        border-color: var(--subject-color);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 0 20px -10px var(--subject-color);
        opacity: 1;
        padding: 20px 10px;
        visibility: visible;
    }

    section#math .subject-card.active .content h2 {
        border-bottom: 1px solid white;
        margin: 30px 0;
        text-align: center;
        width: 100%;
    }


    /* --- GRID --- */

    section#math .subject-card .content .card-grid {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        justify-items: center;
        max-width: calc(3 * 350px + 2 * 15px);
        /* 3 cards + gaps */
        width: 100%;
    }

    section#math .subject-card .content .card-grid .card {
        background-color: transparent;
        border: 1px solid var(--color5);
        max-width: 300px;
        width: 100%;
    }

    section#math .subject-card .content .card-grid .card a {
        align-items: center;
        border: 1px solid var(--color5);
        border-radius: 5px;
        color: var(--color5);
        display: flex;
        gap: 8px;
        justify-content: center;
        padding: 5px;
        text-decoration: none;
        transition: 0.3s;
    }

    section#math .subject-card .content .card-grid .card a::after {
        background-color: var(--color5);
        content: "";
        height: 15px;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
        width: 15px;
    }

    section#math .subject-card .content .card-grid .card h3 {
        color: var(--color5);
        font-size: 1.2em;
        margin: 15px auto;
        text-align: center;
    }


    /* --- SET --- */

    section#math .subject-card .set {
        align-items: center;
        border: 1px solid var(--subject-color);
        border-radius: 5px;
        box-shadow: 0 0 20px -10px var(--subject-color);
        color: var(--subject-color);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        transition: border-radius 0.3s;
    }

    section#math .subject-card.active .set {
        border-radius: 5px 5px 0 0;
    }

    section#math .subject-card .set svg {
        transition: transform 0.3s ease;
        width: 25px;
    }

    section#math .subject-card.active .set svg {
        transform: rotate(90deg);
    }

}

@media (min-width: 1300px) and (max-width: 1799px) {

    section#alGbra #linkalGbra {
        align-items: center;
        color: var(--color1);
        display: flex;
        gap: 3px;
        font-size: .8em;
        margin: 70px 0 10px;
        text-decoration: none;
    }

    section#alGbra #linkalGbra svg {
        width: 10px;
    }

    section#alGbra h1 {
        font-size: 6em;
        margin-bottom: 30px;
        overflow: hidden;
        white-space: nowrap;
    }

    section#alGbra div {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 200px 0;
    }

    
    section#alGbra div h2 {
        border-bottom: 1px solid var(--color1);
        font-size: 2em;
        margin-top: 200px;
    }
    
    section#alGbra div a {
        background-color: var(--color1);
        border-radius: 10px;
        color: var(--color5);
        margin-top: 20px;
        padding: 10px 70px;
    }

    section#alGbra div a svg {
        width: 30px;
    }

    /* --- Seção Math --- */

    section#math h1 {
        border-left: 1px solid var(--color1);
        border-right: 1px solid var(--color1);
        font-size: 3em;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    section#math h2 {
        margin: 5px 0;
    }

    section#math .subject-card {
        margin-bottom: 15px;
        width: 80vw;
    }


    /* --- CONTENT (ACORDEÃO) --- */

    section#math .subject-card .content {
        border: 1px solid transparent;
        border-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:
            border-color 0.4s ease,
            max-height 0.4s ease,
            opacity 0.3s ease;
        visibility: hidden;
        width: 99%;
    }

    section#math .subject-card.active .content {
        border-color: var(--subject-color);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 0 20px -10px var(--subject-color);
        opacity: 1;
        padding: 20px 10px;
        visibility: visible;
    }

    section#math .subject-card.active .content h2 {
        border-bottom: 1px solid white;
        margin: 30px 0;
        text-align: center;
        width: 100%;
    }

    /* --- GRID --- */

    section#math .subject-card .content .card-grid {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        justify-items: center;
        max-width: calc(3 * 350px + 2 * 15px);
        /* 3 cards + gaps */
        width: 100%;
    }

    section#math .subject-card .content .card-grid .card {
        background-color: transparent;
        border: 1px solid var(--color5);
        max-width: 300px;
        width: 100%;
    }

    section#math .subject-card .content .card-grid .card a {
        align-items: center;
        border: 1px solid var(--color5);
        border-radius: 5px;
        color: var(--color5);
        display: flex;
        gap: 8px;
        justify-content: center;
        padding: 5px;
        text-decoration: none;
        transition: 0.3s;
    }

    section#math .subject-card .content .card-grid .card a::after {
        background-color: var(--color5);
        content: "";
        height: 15px;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
        width: 15px;
    }

    section#math .subject-card .content .card-grid .card h3 {
        color: var(--color5);
        font-size: 1.2em;
        margin: 15px auto;
        text-align: center;
    }


    /* --- SET --- */

    section#math .subject-card .set {
        align-items: center;
        border: 1px solid var(--subject-color);
        border-radius: 5px;
        box-shadow: 0 0 20px -10px var(--subject-color);
        color: var(--subject-color);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        transition: border-radius 0.3s;
    }

    section#math .subject-card .set h2 {
        font-size: 2.2em;
    }

    section#math .subject-card.active .set {
        border-radius: 5px 5px 0 0;
    }

    section#math .subject-card .set svg {
        transition: transform 0.3s ease;
        width: 25px;
    }

    section#math .subject-card.active .set svg {
        transform: rotate(90deg);
    }

}

@media (min-width: 1800px) {

    section#alGbra #linkalGbra {
        align-items: center;
        color: var(--color1);
        display: flex;
        gap: 3px;
        font-size: 1em;
        margin: 70px 0 10px;
        text-decoration: none;
    }

    section#alGbra #linkalGbra svg {
        width: 10px;
    }

    section#alGbra h1 {
        font-size: 8em;
        margin-bottom: 30px;
        overflow: hidden;
        white-space: nowrap;
    }

    section#alGbra div {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 400px 0;
    }

    
    section#alGbra div h2 {
        border-bottom: 1px solid var(--color1);
        font-size: 2.7em;
    }
    
    section#alGbra div a {
        background-color: var(--color1);
        border-radius: 10px;
        color: var(--color5);
        margin-top: 20px;
        padding: 15px 80px;
    }

    section#alGbra div a svg {
        width: 40px;
    }

    /* --- Seção Math --- */

    section#math h1 {
        border-left: 1px solid var(--color1);
        border-right: 1px solid var(--color1);
        font-size: 4em;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    section#math h2 {
        margin: 5px 0;
    }

    section#math .subject-card {
        margin-bottom: 15px;
        max-width: 1900px;
        width: 80vw;
    }


    /* --- CONTENT (ACORDEÃO) --- */

    section#math .subject-card .content {
        border: 1px solid transparent;
        border-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:
            border-color 0.4s ease,
            max-height 0.4s ease,
            opacity 0.3s ease;
        width: 99%;
    }

    section#math .subject-card.active .content {
        border-color: var(--subject-color);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 0 20px -10px var(--subject-color);
        opacity: 1;
        padding: 20px 10px;
    }

    section#math .subject-card.active .content h2 {
        border-bottom: 1px solid white;
        font-size: 2.2em;
        margin: 30px 0;
        text-align: center;
        width: 100%;
    }

    /* --- GRID --- */

    section#math .subject-card .content .card-grid {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        justify-items: center;
        max-width: calc(3 * 450px + 2 * 25px);
        /* 3 cards + gaps */
        width: 100%;
    }

    section#math .subject-card .content .card-grid .card {
        background-color: transparent;
        border: 1px solid var(--color5);
        max-width: 450px;
        width: 100%;
    }

    section#math .subject-card .content .card-grid .card a {
        align-items: center;
        border: 1px solid var(--color5);
        border-radius: 5px;
        color: var(--color5);
        display: flex;
        font-size: 1.3em;
        gap: 8px;
        justify-content: center;
        padding: 5px;
        text-decoration: none;
        transition: 0.3s;
    }

    section#math .subject-card .content .card-grid .card a::after {
        background-color: var(--color5);
        content: "";
        height: 20px;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
        width: 20px;
    }

    section#math .subject-card .content .card-grid .card h3 {
        color: var(--color5);
        font-size: 1.7em;
        margin: 15px auto;
        text-align: center;
    }


    /* --- SET --- */

    section#math .subject-card .set {
        align-items: center;
        border: 1px solid var(--subject-color);
        border-radius: 5px;
        box-shadow: 0 0 20px -10px var(--subject-color);
        color: var(--subject-color);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        transition: border-radius 0.3s;
    }

    section#math .subject-card.active .set {
        border-radius: 5px 5px 0 0;
    }

    section#math .subject-card .set h2{
        font-size: 3em;
    }

    section#math .subject-card .set svg {
        transition: transform 0.3s ease;
        width: 35px;
    }

    section#math .subject-card.active .set svg {
        transform: rotate(90deg);
    }

}