@media (max-width: 1299px) {

    main h1{
        font-size: 2.2em;
        text-align: center;
    }

    main section > img{
        border-radius: 5px;
        width: 80vw;
        min-width: 400px;
        max-width: 600px;
    }

    .card-grid {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        justify-items: center;
        margin: 100px 0;
        max-width: calc(3 * 350px + 2 * 15px);
        /* 3 cards + gaps */
        width: 100%;
    }

    .card-grid .card {
        background-color: transparent;
        border: 1px solid var(--color5);
        max-width: 300px;
        width: 100%;
    }

    .card-grid .card a {
        align-items: center;
        border: 1px solid var(--color5);
        border-radius: 5px;
        color: var(--color5);
        display: flex;
        gap: 8px;
        justify-content: center;
        padding: 5px;
        text-decoration: none;
        transition: 0.3s;
    }

    .card-grid .card a::after {
        background-color: var(--color5);
        content: "";
        height: 15px;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
        width: 15px;
    }

    .card-grid .card h3 {
        color: var(--color5);
        font-size: 1.2em;
        margin: 15px auto;
        text-align: center;
    }

}

@media (min-width: 1300px) and (max-width:1799px) {

    main h1{
        font-size: 3em;
        text-align: center;
    }

    main section > img{
        border-radius: 5px;
        width: 80vw;
        max-width: 700px;
    }

    .card-grid {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        justify-items: center;
        max-width: calc(3 * 350px + 2 * 15px);
        margin: 100px 0;
        /* 3 cards + gaps */
        width: 100%;
    }

    .card-grid .card {
        background-color: transparent;
        border: 1px solid var(--color5);
        max-width: 300px;
        width: 100%;
    }

    .card-grid .card a {
        align-items: center;
        border: 1px solid var(--color5);
        border-radius: 5px;
        color: var(--color5);
        display: flex;
        gap: 8px;
        justify-content: center;
        padding: 5px;
        text-decoration: none;
        transition: 0.3s;
    }

    .card-grid .card a::after {
        background-color: var(--color5);
        content: "";
        height: 15px;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
        width: 15px;
    }

    .card-grid .card h3 {
        color: var(--color5);
        font-size: 1.2em;
        margin: 15px auto;
        text-align: center;
    }

}

@media (min-width:1800px) {
    
    main h1{
        font-size: 3em;
        text-align: center;
    }

    main section > img{
        border-radius: 5px;
        width: 80vw;
        max-width: 1000px;
    }

    .card-grid {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        justify-items: center;
        margin: 100px 0;
        max-width: calc(3 * 450px + 2 * 25px);
        /* 3 cards + gaps */
        width: 100%;
    }

    .card-grid .card {
        background-color: transparent;
        border: 1px solid var(--color5);
        max-width: 450px;
        width: 100%;
    }

    .card-grid .card a {
        align-items: center;
        border: 1px solid var(--color5);
        border-radius: 5px;
        color: var(--color5);
        display: flex;
        font-size: 1.3em;
        gap: 8px;
        justify-content: center;
        padding: 5px;
        text-decoration: none;
        transition: 0.3s;
    }

    .card-grid .card a::after {
        background-color: var(--color5);
        content: "";
        height: 20px;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
        width: 20px;
    }

    .card-grid .card h3 {
        color: var(--color5);
        font-size: 1.7em;
        margin: 15px auto;
        text-align: center;
    }

}