@media (max-width: 1299px) {

    section#login{
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        margin: 50px auto;
        width: 60vw;
    }

    section#login form{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 15px;
    }

    form input{
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px 10px;
    }

    section#login input[type="submit"]{
        width: 80px;
    }

    section#login div{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 30px 10px;
    }

    section#login div a{
        border: 1px solid white;
        width: 100px;
        padding: 5px;
    }

    section#login a{
        color: white;
        margin: auto;
        margin-right: 0;
    }

    main a{
        text-align: center;
    }

    main a svg {
        width: 30px;
        color: white;
    }

}